click==8.1.7
click-default-group==1.2.4
-e git+ssh://git@github.com/viodotcom/jyafn.git@10be663896e1735f7bdc95e4ba4a04e038d7f70e#egg=jyafn&subdirectory=jyafn-python
numpy==2.0.0
polars==1.2.0
scipy==1.14.0
